<div *ngIf="(checkout$ | async) as checkout">
<div class="infoContainer">
  <div class="checkoutInfo">
    <mat-card>
      <mat-card-title>CHECKOUT</mat-card-title>
      <mat-card-content>
        <p><span class="biggerText">Last Name: </span>{{checkout.borrowerLastName}}</p>
        <p><span class="biggerText">First Name: </span>{{checkout.borrowerFirstName}}</p>
        <p><span class="biggerText">Book: </span>{{checkout.borrowedBook.title}}</p>
        <br>
        <p><span class="biggerText">DETAILS</span></p>
        <p>ID: {{checkout.id}}</p>
        <p>Book ID: {{checkout.borrowedBook.id}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="statusInfo">
    <mat-card>
      <mat-card-title>STATUS</mat-card-title>
      <mat-card-content>
        <span><span class="biggerText">Checkout Date: </span>{{checkout.checkedOutDate}}</span>
        <p><span class="biggerText">Due Date: </span>{{checkout.dueDate}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="buttonsContainer">
  <button (click)="openDialog(checkout.borrowedBook.title)">Return</button>
  <div>
    <button>Change</button>
  </div>
</div>
</div>
