<div class="container mat-elevation-z4">
  <mat-card>
    <mat-card-title>Checkouts</mat-card-title>
    <mat-card-content>
      <mat-nav-list *ngIf="(checkouts$ | async) as checkouts">
        <a mat-list-item *ngFor="let checkout of checkouts.content" [routerLink]="['/checkouts', checkout.id]">
          <div class="lateCheckout" *ngIf="lateCheckout(checkout.dueDate) === true">
            {{checkout.borrowerLastName}}, {{checkout.borrowerFirstName}}
          </div>
          <div *ngIf="lateCheckout(checkout.dueDate) === false">
            {{checkout.borrowerLastName}}, {{checkout.borrowerFirstName}}
          </div>
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
  <!--Buttons to move between pages to see more checkouts. Between them is a page number of a current page.--->
  <div class="buttonsContainer">
    <button (click)="previousPage()"><</button>
    <p>{{pageNumber$}}</p>
    <button (click)="nextPage()">></button>
  </div>
</div>


