<div class="container mat-elevation-z4">
  <mat-card>
    <mat-card-title>Books</mat-card-title>
    <mat-card-content>
      <mat-nav-list *ngIf="(books$ | async) as books">
        <a mat-list-item *ngFor="let book of books.content" [routerLink]="['/books', book.id]">
          {{book.title}}
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
  <!--Buttons to move between pages to see more books. Between them is a page number of a current page.--->
  <div class="buttonsContainer">
    <button (click)="previousPage()"><</button>
    <p>{{pageNumber$}}</p>
    <button (click)="nextPage()">></button>
  </div>
  <div class="buttonsContainer">
    <button (click)="goToPage()">Go To Page</button>
    <input id="goToPageNumber" type="number" min="1" max="{{pagesTotal$}}" placeholder="{{pageNumber$}}">
  </div>
</div>
<button class="addBookButton" [routerLink]="['/addBook']">Add A Book</button>


