<div class="container mat-elevation-z4">
  <form [formGroup]="changeCheckoutForm" (ngSubmit)="changeCheckout()" *ngIf="(checkout$ | async) as checkout">
    <!--Got the basic form template from here: https://www.w3schools.com/howto/howto_css_contact_form.asp --->

    <label>First Name</label>
    <input type="text" formControlName="fname" ngModel="{{checkout.borrowerFirstName}}">

    <label>Last Name</label>
    <input type="text" formControlName="lname" ngModel="{{checkout.borrowerLastName}}">

    <label>Due Date</label>
    <input type="text" formControlName="dueDate" ngModel="{{checkout.dueDate}}">

    <input type="submit" value="SAVE">
  </form>
</div>


