<div class="container mat-elevation-z4">
  <form [formGroup]="addBookForm" (ngSubmit)="addBook()">
    <!--Got the basic form template from here: https://www.w3schools.com/howto/howto_css_contact_form.asp --->
    <label>Title</label>
    <input type="text" placeholder="Book's title..." formControlName="title">

    <label>Author</label>
    <input type="text" placeholder="Author's name..." formControlName="author">

    <label>Genre</label>
    <input type="text" placeholder="Book's genre..." formControlName="genre">

    <label>Year</label>
    <input type="text" placeholder="Publication year... " formControlName="year">

    <input type="submit" value="SAVE">
  </form>
</div>
